body {
    overflow-x: hidden;
}

main {
    padding-top: 3rem;
    margin-bottom: 3rem;
}

hr.MuiDivider-root:not(.MuiDivider-middle):not(.MuiDivider-inset) {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

a,
a:active,
a:focus,
a:focus-within,
a:hover,
a:visited {
    text-decoration: none !important;
    color: inherit !important;
}

p a,
p a:active,
p a:focus,
p a:focus-within,
p a:hover,
p a:visited {
    text-decoration: underline !important;
}